<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<section id="contact-information" class="level1">
<h1>Contact Information</h1>
<p>Instructor:<br>
Office:<br>
Email:<br>
Office Hours:</p>
</section>
<section id="course-objectives-and-learning-outcomes" class="level1">
<h1>Course Objectives and Learning Outcomes</h1>
</section>
<section id="required-texts-and-materials" class="level1">
<h1>Required Texts and Materials</h1>
</section>
<section id="exams-and-papers" class="level1">
<h1>Exams and Papers</h1>
</section>
<section id="grade-policies" class="level1">
<h1>Grade Policies</h1>
</section>
<section id="absence-policies" class="level1">
<h1>Absence Policies</h1>
</section>
<section id="rice-honor-code" class="level1">
<h1>Rice Honor Code</h1>
<p>In this course, all students will be held to the standards of the
Rice Honor Code, a code that you pledged to honor when you matriculated
at this institution. If you are unfamiliar with the details of this code
and how it is administered, you should consult the Honor System Handbook
at <a href="http://honor.rice.edu/honor-system-handbook/" class="uri">http://honor.rice.edu/honor-system-handbook/</a>. This
handbook outlines the University’s expectations for the integrity of
your academic work, the procedures for resolving alleged violations of
those expectations, and the rights and responsibilities of students and
faculty members throughout the process.</p>
</section>
<section id="disability-support-services" class="level1">
<h1>Disability Support Services</h1>
<p>If you have a documented disability or other condition that may
affect academic performance you should: 1) make sure this documentation
is on file with Disability Support Services (Allen Center, Room 111 / <a href="mailto:adarice@rice.edu" class="email">adarice@rice.edu</a> /
x5841) to determine the accommodations you need; and 2) talk with me to
discuss your accommodation needs.</p>
</section>
<section id="syllabus-change-policy" class="level1">
<h1>Syllabus Change Policy</h1>
<p>This syllabus is only a guide for the course and is subject to change
with advanced notice.</p>
</section>
<section id="course-schedule" class="level1">
<h1>Course Schedule</h1>
<p><span class="math inline"><em>b</em><em>o</em><em>d</em><em>y</em></span></p>
</section>
</body></html>
