<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Eric M. Fink</title>
<link rel="shortcut icon" href="https://www.emfink.net/assets/img/favicon.ico">
<link rel="stylesheet" type="text/css" href="https://www.emfink.net/assets/css/main.css" >
<link rel="stylesheet" type="text/css" href="https://www.emfink.net/assets/css/scheduler.css" >
</head>

<body>

<header class="site-header">
<a class="page-link" href="https://www.emfink.net/ElonLaw/"><span class="site-title">Eric M. Fink</span></a>
</header>

<div class="page-container">

<article>

<h1>Class Schedule Generator</h1>

<p>Generate a list of class meeting dates to use in syllabus</p>

<form method="post" action="http://wcaleb.org/syllabusmaker/classes/">

<h2>Year</h2>

<select name="year" class="ck mb1 field">

<option value="2025">2025</option>

<option value="2026">2026</option>

<option value="2027">2027</option>

<option value="2028">2028</option>

<option value="2029">2029</option>

</select>

<h2>First day of class</h2>

<select name="start-month" class="ck mb1 field">

<option value="January">January</option>

<option value="February">February</option>

<option value="March">March</option>

<option value="April">April</option>

<option value="May">May</option>

<option value="June">June</option>

<option value="July">July</option>

<option value="August">August</option>

<option value="September">September</option>

<option value="October">October</option>

<option value="November">November</option>

<option value="December">December</option>

</select>
<select name="start-day" class="ck mb1 field">

<option value="1">1</option>

<option value="2">2</option>

<option value="3">3</option>

<option value="4">4</option>

<option value="5">5</option>

<option value="6">6</option>

<option value="7">7</option>

<option value="8">8</option>

<option value="9">9</option>

<option value="10">10</option>

<option value="11">11</option>

<option value="12">12</option>

<option value="13">13</option>

<option value="14">14</option>

<option value="15">15</option>

<option value="16">16</option>

<option value="17">17</option>

<option value="18">18</option>

<option value="19">19</option>

<option value="20">20</option>

<option value="21">21</option>

<option value="22">22</option>

<option value="23">23</option>

<option value="24">24</option>

<option value="25">25</option>

<option value="26">26</option>

<option value="27">27</option>

<option value="28">28</option>

<option value="29">29</option>

<option value="30">30</option>

<option value="31">31</option>

</select>

<h2>Last day of class</h2>

<select name="last-month" class="ck mb1 field">

<option value="January">January</option>

<option value="February">February</option>

<option value="March">March</option>

<option value="April">April</option>

<option value="May">May</option>

<option value="June">June</option>

<option value="July">July</option>

<option value="August">August</option>

<option value="September">September</option>

<option value="October">October</option>

<option value="November">November</option>

<option value="December">December</option>

</select>
<select name="last-day" class="ck mb1 field">

<option value="1">1</option>

<option value="2">2</option>

<option value="3">3</option>

<option value="4">4</option>

<option value="5">5</option>

<option value="6">6</option>

<option value="7">7</option>

<option value="8">8</option>

<option value="9">9</option>

<option value="10">10</option>

<option value="11">11</option>

<option value="12">12</option>

<option value="13">13</option>

<option value="14">14</option>

<option value="15">15</option>

<option value="16">16</option>

<option value="17">17</option>

<option value="18">18</option>

<option value="19">19</option>

<option value="20">20</option>

<option value="21">21</option>

<option value="22">22</option>

<option value="23">23</option>

<option value="24">24</option>

<option value="25">25</option>

<option value="26">26</option>

<option value="27">27</option>

<option value="28">28</option>

<option value="29">29</option>

<option value="30">30</option>

<option value="31">31</option>

</select>

<h2>Days of week</h2>

<input type="checkbox" name="days" value="Sunday"> Sunday</input><br>
<input type="checkbox" name="days" value="Monday"> Monday</input><br>
<input type="checkbox" name="days" value="Tuesday"> Tuesday</input><br>
<input type="checkbox" name="days" value="Wednesday"> Wednesday</input><br>
<input type="checkbox" name="days" value="Thursday"> Thursday</input><br>
<input type="checkbox" name="days" value="Friday"> Friday</input><br>
<input type="checkbox" name="days" value="Saturday"> Saturday</input>

<h2>Date format.</h2>

<select name="format" class="block col-12 ck mb1 field">

<option value="Tuesday, January 12, 2016">Wednesday, September 3, 2025</option>

<option value="Tuesday, January 12">Wednesday, September 3</option>

<option value="Tue., Jan. 12, 2016">Wed., Sep. 3, 2025</option>

<option value="Tue., Jan. 12">Wed., Sep. 3</option>

<option value="January 12, 2016">September 3, 2025</option>

<option value="January 12">September 3</option>

<option value="Jan. 12">Sep. 3</option>

<option value="January 12 (Tuesday)">September 3 (Wednesday)</option>

<option value="1/12">9/3</option>

<option value="01/12">09/3</option>

<option value="2016-01-12">2025-09-3</option>

</select>

<br/>

<button type="submit" class="btn btn-primary">Submit</button>

</form>

</article>

<footer>
<div class="home-footer">
<div class="home-footer-block">
<p>Created by <a href="https://github.com/EricMFink" target="_blank">Eric M. Fink</a>, based on <a href="http://wcaleb.org">Rice Scheduler by Caleb McDaniel</a>. </p>
</div>
</div>
</footer>

</div>

</body>

</html>